html,
body {
	width: 100%;
	height: 100%;
}

#calculadora {
	width: 100%;
	height: 100%;
}

#form-calculadora {
	padding: 10px;	
}

#form-calculadora select.campo-form {
	width: 100%;
}

#form-calculadora > input[type="submit"]{
	margin-top: 10px;
}

#form-calculadora .tabela {
	background-color: #ffffff;
}

#form-calculadora .tabela thead{
	font-size: 0.9em;
}

@media only screen and (min-width: 300px) {
	#form-calculadora > .campo-form{
		width: 90%;
	}
	#tabela-lucro-calculadora .campo-form{
		width: 75%;
	}
}
@media only screen and (min-width: 500px) {
	#form-calculadora > .campo-form{
		width: 94%;
	}
	#tabela-lucro-calculadora .campo-form{
		width: 85%;
	}
}
@media only screen and (min-width: 700px) {
	#form-calculadora > .campo-form{
		width: 95%;
	}
	#tabela-lucro-calculadora .campo-form{
		width: 90%;
	}
}