@CHARSET "UTF-8";

body{	
	background-image: url('../../img/background.jpg');
	background-size: auto;
	background-repeat: repeat;
}

header > h1{
	padding: 10px;
}

header > h1 > a{
	display: block;	
	width: 6%;
}

header > h1 > a > img{
	width: 100%;
	height: auto;
}

header > section#usuario-logado,
header > section#opcoes-usuario{	
	position: absolute;
	right: 5%;	
}
header > section#usuario-logado{
	top: 37px;	
}

header > section#opcoes-usuario{
	top: 75px;
}

header > section#usuario-logado > span{
	color: #FFF;
}

header > section#opcoes-usuario{
	background-color: rgba(240, 240, 240, 1);
	background-color: #FFF;
	padding: 15px;
	width: 105px;
	border-radius: 4px;
	display: none;
}

header > section#opcoes-usuario > ul > li > a{
	display: block;
	margin: 1px;
}

section#paineis{
	margin-top: 10px;
}

section#paineis > ul > li.painel{	
	width: 17%;	
	display: inline-block;
	margin: 0 2.2% 25px;
	text-align: justify;	
	background-color: rgba(240, 240, 240, 0.5);
	padding: 25px 20px 20px 20px;
	vertical-align: top;
}

section#paineis > ul > li.painel:hover{
	background-color: rgba(240, 240, 240, 1);
}

section#paineis > ul > li.painel > a{
	display: block;	
}

section#paineis > ul > li.painel > a > img{	
	display: block;	
	margin: 0 auto;	
	width: 94px;
	height: 91px;	
	margin-bottom: 20px;
}

section#paineis > ul > li.painel > a > h2{	
	text-align: center;
	margin-bottom: 20px;		
}

section#paineis > ul > li.painel > a > p{	
	padding: 0 20px;
	font-size: 0.9em;	
	text-align: center;
	min-height: 4em;
}


section.rodape{
	text-align: center;
	width: 100%;
	/* background-color: rgba(255, 255, 250, 0.4); */	
	padding-bottom: 12px;
	margin-top: 15px;
}

section.rodape > #copy,
section.rodape > #developer,
section.rodape > #developer > a{	
	color: #417ec0;
}

section.rodape > #copy{
	font-size: 0.8em;
}

section.rodape > #developer{
	font-size: 0.7em;	
}

.modal .modal-body .campo-form {
	width: 95%;
}

.modal .modal-body select.campo-form {
	width: 99%;
}

.modal .modal-body .botao{
	margin-top: 15px;
}

.modal .modal-body .tabela img{
	width: 23px;
	height: auto;
	display: block;
	margin: 0 auto;
}

.modal .modal-body .nome-arquivo{
	width: 72%;
	display: inline-block;
	vertical-align: top;
}

#modal-rastreamento #menu-rastreamento-mobile{
	display: none;
}

#modal-rastreamento #hamburger-button-rastreio{
	display: none;
}

#modal-rastreamento #menu-rastreamento ul li,
#modal-historico-rastreamento ul li{
	display: inline-block;
	margin-right: 10px;
}

#modal-rastreamento #menu-rastreamento ul li img,
#modal-historico-rastreamento ul li img{
	width: 35px;
	height: auto;
}

#modal-rastreamento #form-busca-rastreamento{
	position: absolute;
	right: 10px;
	top: 70px;
	text-align: right;
	width: 50%;	
}

#modal-rastreamento #form-busca-rastreamento .campo-form{
	width: 30%;
}

#modal-rastreamento #menu-filtro-rastreamento{
	text-align: center;
	margin-top: 8px;
}

#modal-rastreamento #menu-filtro-rastreamento ul li{
	display: inline-block;
	padding: 6px 10px;
	width: 115px;
	border: solid 1px #e61b72;
	color: #e61b72;
}

#modal-rastreamento #menu-filtro-rastreamento ul li:hover{
	background-color: #e61b72;
	color: #FFF;
	-moz-transition: all 200ms ease-in;    
    -webkit-transition: all 200ms ease-in;    
    -o-transition: all 200ms ease-in;    
    transition: all 200ms ease-in;
}

#modal-rastreamento #menu-filtro-rastreamento ul li.selecionado{
	background-color: #e61b72;
	color: #FFF;
}

#modal-rastreamento #tabela-rastreamento{
	width: 100%;
}

#modal-rastreamento #tabela-rastreamento{
	border-collapse: collapse;
	width: 100%;
	margin-top: 15px;
}

#modal-rastreamento #tabela-rastreamento th,
#modal-rastreamento #tabela-rastreamento td{
	border: solid 1px #cccccc;
	padding: 7px 10px;
	text-align: left;
}

#modal-rastreamento #tabela-rastreamento th{
	padding-left: 8px;
	padding-right: 8px;
	background-color: #e61b72;
	color: #FFF;
	width: 18%;
}

#modal-rastreamento #tabela-rastreamento th.coluna-icone{
	width: 5%;
}

#modal-rastreamento #tabela-rastreamento tr td img{
	width: 28px;
	height: auto;
	display: block;
	margin: 0 auto;
}

#modal-rastreamento #tabela-rastreamento tr td > p:last-child{
	font-size: 12px;
}

#modal-rastreamento #tabela-rastreamento tr td > input[type="text"]{
	width: 89%;
}

#modal-rastreamento .notificacao{
	width: 97.8%;
}

#modal-adiciona-rastreio select.campo-form{
	width: 99.6%;
}

#modal-calculadora #tabela-lucro-calculadora .campo-form {
	width: 88%;
}

@media only screen and (max-width: 1023px) {
	header > h1 > a{		
		margin: 0 auto;
		width: 20%;		
	}
	
	section#paineis > ul > li.painel > a > img{
		width: 64px;
		height: 61px;	
	}
	
	section#paineis > ul > li.painel > a > h2{	
		font-size: 0.9em;		
	}
	
	section#paineis > ul > li.painel > a > p{			
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 600px){
	header > section#usuario-logado{
		position: relative;		
		width: 100%;
		left: 0;
		right: 0;
		top: 20%;
		text-align: center;						
	}
		
	.modal .modal-body .campo-form {
		width: 89%; 
	}
	
	#modal-calculadora #tabela-lucro-calculadora .campo-form{
		width: 77%;
	}
	
	#modal-rastreamento > section.modal-body{
		padding: 10px 1px 12px 1px;
	}
	
	#modal-rastreamento #menu-rastreamento{
		display: none;
	}
	
	#modal-rastreamento #form-busca-rastreamento{
		position: inherit;
		text-align: left;	
		width: 75%;
	}
	
	#modal-rastreamento #form-busca-rastreamento .campo-form{
		width: 43%;
	}
	
	#modal-rastreamento img#hamburger-button-rastreio{
		display: block;
		width: 40px;
		height: auto;
		position: absolute;
		right: 4%;
		top: 73px;
	}
	
	#modal-rastreamento #menu-rastreamento-mobile{
		top: 130px;
		position: fixed;
		background-color: #FFF;
		right: 2%;
		box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.75);
	}
	
	#modal-rastreamento #menu-rastreamento-mobile ul li{
		display: block;
		margin-right: 10px;
		font-size: 13px;
		padding: 10px;
		width: 92%;
		border-bottom: solid 1px #cccccc;
	}
	
	#modal-rastreamento #menu-rastreamento-mobile ul li img{
		width: 30px;
		height: auto;
		display: inline-block;
		vertical-align: middle;
	}
	
	#modal-rastreamento #menu-rastreamento-mobile ul li > span{
		display: inline-block;
		padding-left: 12px;
		vertical-align: middle;
	}
	
	#modal-rastreamento #menu-filtro-rastreamento{
		margin-top: 17px;
	}
	
	#modal-rastreamento #menu-filtro-rastreamento ul li{
		width: 40%;
		font-size: 13px;
	}
	
	#modal-rastreamento #tabela-rastreamento{
		font-size: 12px; 
	}
	
	#modal-rastreamento #tabela-rastreamento .coluna-mobile{
		display: none;
	}
	
	#modal-rastreamento #tabela-rastreamento tr td{
		padding: 7px 0 7px 5px;
	}
	
	#modal-rastreamento #tabela-rastreamento tr td > p:last-child{
		font-size: 9px;
	}
}


/*Mobiles de até 480px de resolução de largura - praticamente todos em*/
@media only screen and (max-width: 480px) {
     section#paineis > ul > li.painel{	
		width: 81%;
		margin: 0 2.5% 20px;		
	}
}

/*Mobiles em landscape   iphone 5/5s tem 640px, iphone 6  tem 750px*/
@media only screen and (min-width: 481px) and (max-width: 767px) {   
	section#paineis > ul > li.painel{	
		width: 81%;
		margin: 0 5.4% 20px;		
	}
}

/*Tablets tem entre 768px e 800px*/
@media only screen and (min-width: 768px) and (max-width: 979px) {
	section#paineis > ul > li.painel{	
		width: 38%;
		margin: 0 2.4% 20px;		
	}
}


/*Iphone 6 plus tem 1080*/
@media only screen and (min-width: 980px) and (max-width: 1023px) {
	section#paineis > ul > li.painel {
    	width: 17%;
    	margin: 0 5.4% 20px;
	}

}

/*Monitores*/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	section#paineis > ul > li.painel{	
		width: 17%;			
		margin: 0 1.7% 25px;		
		padding: 25px 20px 15px 20px;			
	}
}

/*Monitores 2*/
@media only screen and (min-width: 1280px) and (max-width: 1365px) {    
	section#paineis > ul > li.painel{	
		width: 18%;			
		margin: 0 1.6% 25px;		
		padding: 25px 20px 15px 20px;			
	}	
}

/*Monitores 3*/
@media only screen and (min-width: 1366px) and (max-width: 1559px) {
	
}

@media only screen and (min-width: 1367px){
	section.rodape{
		position: fixed;
		bottom: 0;	
	}
	
	body{
		background-size: 100% 100%;
	}
}

@media only screen and (min-width: 1560px) and (max-width: 1919px) {

}

/*Televisões ou monitores full HD com 22"*/
@media only screen and (min-width: 1920px){
	section#paineis > ul > li.painel{	
		width: 19%;
    	margin: 0 2.3% 50px;
    	padding: 55px 10px 50px 10px		
	}	
	
	section#paineis > ul > li.painel > a > p{	
		padding: 0 30px;
		min-height: 3em;				
	}	
}

