@CHARSET "UTF-8";

#modal-fechamento h1 > .modal-close{
	padding-top: 11px;
}

div#top-fechamento > form{	
	display: inline-block;	
	vertical-align: top;
}

div#top-fechamento > form > .tabela input{
	width: 70%;
	
}

#form-resumo{
	margin-left: 10px;
	margin-right: 27px;	
}

#form-parametros-calculo,
#form-resumo
{
	width: 25%;	
}

#form-busca-produto{		
	width: 46%;
}

#form-busca-produto h1.inf-fechamento-modal{	
	width: 98%;
	margin: 20px 0;
	font-size: 1.2em;	
}

#form-busca-produto h1.inf-fechamento-modal > span{
	font-size: 0.8em;
	font-weight: normal;
}

#form-busca-produto h1.inf-fechamento-modal > span#id-fechamento-hidden{		
	display: none;
}

#form-busca-produto input[type="text"].campo-form{
	width: 80%;
}

#form-busca-produto #btn-buscar-produto{
	margin-top: 11px;
}

#form-busca-produto select{	
	width: 30%;
}

div#top-fechamento > form > .tabela th{
	text-align: left;
	width: 200px;
	padding: 17px 8px;
}

div#top-fechamento > form > .tabela td{
	width: 135px;
	text-align: center;	
}

#select-fechamentos option[disabled="disabled"]{
	color: #a3a3a3;
}

#total-registros{
	font-weight: normal;
	padding-left: 1px;
}

#tabela-fechamento > thead th{	
	width: 6%;
	padding: 11px 8px;
}

#tabela-fechamento > thead th:FIRST-CHILD{	
	width: 20%;	
}


#tabela-fechamento td > span.marca-destaque{
	font-weight: bold;
	font-size: 1.1em;
}

#tabela-fechamento td > div.produto-descricao{
	font-size: 0.85em;
}

#tabela-fechamento td > div.produto-descricao img{
	display: inline-block;
	width: 15px;
	height: auto;
	vertical-align: middle;
}

#tabela-fechamento td > input[type="text"]{
	width: 66%;
}

#tabela-fechamento td > select{
	width: 100%;
}


#subir-top-fechamento{
	position: fixed;
	right: 3%;
	bottom: 2%;
	display: none;
}

#subir-top-fechamento > img{
	width: 50px;
	height: auto;
	opacity: 1;	
}

#adiciona-item{
	position: fixed;
	right: 3%;
	bottom: 2%;	
}

#adiciona-item > img{
	width: 50px;
	height: auto;
	opacity: 0.3;
	box-shadow: 2px 2px 3px 1px #cccccc;
	border-radius: 30px;
	border: none;
}

#adiciona-item > img:hover{	
	opacity: 1;
    -moz-transition: all 500ms ease-in;    
    -webkit-transition: all 500ms ease-in;    
    -o-transition: all 500ms ease-in;    
    transition: all 500ms ease-in;
}

#modal-adiciona-item-fechamento .input-required-alert{
	color: #ff0000;
	font-size: 0.9em;
}

.mini-modal-quantidade-lista-compras{
	display: none;
	position: absolute;
	width: 10%;
	height: auto;
	background-color: #FFF;
	border: solid 1px #cccccc;
	left: 180px;
	margin-top: 5px;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 3px 3px 3px #000;
}

.modal .modal-body .mini-modal-quantidade-lista-compras > form > .campo-form{
	width: 37%;
}

@media only screen and (min-width: 1920px){
	#tabela-fechamento td > input[type="text"]{
		width: 76%;
	}
	
	#modal-fechamento .notificacao{
		width: 49%;		
	}
}
