@CHARSET "UTF-8";

/* Azul akimia: #417ec0
Rosa akimia: #e61b72 */

html{
  	height: 100%;
}
body {
  	min-height: 100%;
}

*{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 1em;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

.highlight{
	background-color: #f58b01;
	color: #FFF;
}

#sorttable_sortfwdind,
#sorttable_sortrevind{
	color: #FFF;
}

.bg-azul{
	background-color: rgba(65, 126, 192, 0.9)
}

.bg-verde{
	background-color: rgba(0, 215, 81, 0.9);
}

.border-red{
	border: solid 1px red;
}

.preparando-modal{
	position: fixed;
	bottom: 0;
	right: 0;	
	padding: 10px 20px;
	background-color: rgba(230, 27, 114, 0.8);
	color: #FFF;
	display: none;	
}

.centralizer{
	width: 90%;
	margin: 0 auto;
	/* border: solid 1px red; */
}

.campo-form,
.botao,
.botao-2,
.notificacao
{
	border-radius: 4px;
	padding: 8px 15px;	
	
}

.linha-selecionada{
	background-color: #ffc;
}

.label{	
	display: block;
	margin-top: 10px;
	margin-bottom: 3px;
}

.campo-form{	
	border: solid 1px #b2b1b7;
	color: #626262;	
}

.botao{
	background-color: #417ec0;	
}

.botao-2{
	background-color: #cccccc;	
}

.botao,
.botao-2{    			
	border: none;		
	text-align: center;
    color: #FFF;
    font-weight: bold;
    display: block;
}

.botao-paralelo{
	display: inline-block;
}

.hover{
	cursor: pointer;
}

.arrow-bottom {
    border-top: 4px solid #FFF;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    display: inline-block;
    margin-left: 6px;
    opacity: 1;
    vertical-align: middle;
}

.arrow-top {
    border-color: transparent;
    border-bottom-color: #FFF;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;    
    position: absolute;
    right: 8px;
    top: -8px;       
}

.notificacao{
	display: none;	
	margin: 10px 0;
	background-color: rgba(0, 0, 0, 0.33);
	color: #FFF;
	font-size: 0.9em;
	width: 95.5%;
}


.botao-upload {
    position: relative;
    overflow: hidden;
    background-color: #417ec0;				
	border: none;		
	text-align: center;    
    font-weight: bold;
    display: inline-block;
    border-radius: 2px;
	padding: 9px 15px 8px;
	margin-left: 3px;	
}

.botao-upload > span{
	color: #FFF;
}

.botao-upload input.botao-upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/* Modais */
.modal{
    display: none;
    background-color: #FFF;
    width: 720px;
    height: auto;    
    border-radius: 15px;
    box-shadow: 3px 3px 3px #000;
    overflow: auto;
    max-height: 97.5%;
    font-size: 0.9em;
}

.modal > h1{
    padding: 20px;
    border-bottom: solid 1px #b2b1b7;     
}

.modal > h1 > img{
	width: 40px;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;	
}

.modal > h1 > .modal-close{
    color: #b2b1b7;
    float: right;       
}

.modal > section.modal-body{    
	padding: 10px 20px 12px 20px;
}

.modal > section.modal-body > div{
	margin-bottom: 10px;
}

.modal .modal-body input[type="text"].edita-nome-fechamento{
	width: 78%;
}


/*Form busca*/
.modal .form-busca > input.campo-form{
	width: 83%;
	display: inline-block;
}

.modal .modal-body .form-busca > .botao{
	display: inline-block;	
	margin: 0;	
}

#modal-fechamento .notificacao{
	width: 48.7%;	
}


#modal-fechamento,
#modal-historico-fechamentos,
#modal-rastreamento{
	width: 99%;
	min-height: 97.5%;
	max-height: 97.5%;
	margin: 10px 1px;	
}

#modal-excluir-fechamento,
#modal-adiciona-item-fechamento,
#modal-adiciona-item-avulso-lista-compras{
	width: 500px;
}

#modal-historico-fechamentos .form-busca > input.campo-form{
	width: 91%;
}

#modal-historico-fechamentos .notificacao{	
	width: 97.6%;
}

#modal-lista-compras nav{
	margin: 15px 0;
}

#modal-lista-compras div > nav ul li{
	display: inline-block;		
	text-align: center;
	padding: 10px 0;
	border: solid 1px #e61b72;
	color: #e61b72;
}

#modal-lista-compras div > nav#menu-nao-tenho-lista ul li{
	width: 32.6%;
}

#modal-lista-compras div > nav#menu-nao-tenho-lista ul li:HOVER{
	background-color: #e61b72;
	color: #FFF;
    -moz-transition: all 500ms ease-in;    
    -webkit-transition: all 500ms ease-in;    
    -o-transition: all 500ms ease-in;    
    transition: all 500ms ease-in;
}

#modal-lista-compras div > nav ul li.menu-selecionado{
	background-color: #e61b72;
	color: #FFF;
}

#sessao-usar-fechamento{
	display: none;
}

/*Relatórios*/
table.tabela{
	border-collapse: collapse;
	width: 100%;
	margin-top: 10px;
}

table.tabela th,
table.tabela td{
	border: solid 1px #cccccc;
	padding: 7px 10px;
	text-align: left;
}

table.tabela th{
	padding-left: 8px;
	padding-right: 8px;
	background-color: #e61b72;
	color: #FFF;
	width: 25%;
}

table.tabela th:FIRST-CHILD {
	width: 22%;
}

#fechamento-download a{
	font-weight: bold;
	color: #FFF;
	text-decoration: underline;
}

span.encerra-fechamento{
	font-weight: bold;
}

span.fechamento-aberto{
	color: #00c100;
}

span.fechamento-encerrado{
	color: #ff0000;
}

#grafico{
	margin-top: 15px;
	width: 95%;
	height: 450px;
	margin: 0 auto;
}

@media only screen and (max-width: 700px) {
     .modal{
     	width: 99%;
     }
}

/*Mobiles de até 480px de resolução de largura - praticamente todos em*/
@media only screen and (max-width: 480px) {
     
}

/*Mobiles em landscape   iphone 5/5s tem 640px, iphone 6  tem 750px*/
@media only screen and (min-width: 481px) and (max-width: 767px) {   

}

/*Tablets tem entre 768px e 800px*/
@media only screen and (min-width: 768px) and (max-width: 979px) {

}


/*Iphone 6 plus tem 1080*/
@media only screen and (min-width: 980px) and (max-width: 1023px) {

}

/*Monitores*/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

}

/*Monitores 2*/
@media only screen and (min-width: 1280px) and (max-width: 1365px) {    

}

/*Monitores 3*/
@media only screen and (min-width: 1366px) and (max-width: 1559px) {

}

@media only screen and (min-width: 1560px) and (max-width: 1919px) {

}

/*Televisões ou monitores full HD com 22"*/
@media only screen and (min-width: 1920px){
	#grafico{		
		height: 500px;		
	}
}