@CHARSET "UTF-8";

body{	
	background-image: url('../img/background.jpg');
	background-size: auto;
	background-repeat: repeat;
}

.campo-form,
.botao,
.notificacao
{	
	padding: 10px 15px;
	
}

section.login{	
	position: fixed;
	width: 340px;
	height: auto;	
	left: 50%;
	margin-left: -170px;	
	top: 44%;
	margin-top: -145px;	
}

section.login > img{
	width: 40%;
	height: auto;
	margin: 0 auto;
	display: block;	
}

section.login > form{
	margin-top: 15px;
}

section.login > form > input{
	display: block;
	width: 80%;
	margin: 0 auto;	
}

section.login > form > input:FIRST-CHILD {
	border-bottom: none;
}
section.login > form > input[type="password"]{
	margin-bottom: 10px;
}

section.login > form > input[type="button"] {
	width: 89%;	
}

section.login > form > .notificacao{
	margin: 0 auto;
	width: 80%;
	margin-bottom: 10px;
}

section.rodape{
	border: solid 1px red.;
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	/* background-color: rgba(255, 255, 250, 0.4); */	
	padding-bottom: 12px;	
}

section.rodape > #copy,
section.rodape > #developer,
section.rodape > #developer > a{	
	color: #417ec0;
}

section.rodape > #copy{
	font-size: 0.8em;
}

section.rodape > #developer{
	font-size: 0.7em;	
}


/*Mobiles de até 480px de resolução de largura - praticamente todos em*/
@media only screen and (max-width: 480px) {

}

/*Mobiles em landscape   iphone 5/5s tem 640px, iphone 6  tem 750px*/
@media only screen and (min-width: 481px) and (max-width: 767px) {   

}

/*Tablets tem entre 768px e 800px*/
@media only screen and (min-width: 768px) and (max-width: 979px) {

}


/*Iphone 6 plus tem 1080*/
@media only screen and (min-width: 980px) and (max-width: 1023px) {

}

/*Monitores*/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

}

/*Monitores 2*/
@media only screen and (min-width: 1280px) and (max-width: 1365px) {    

}

@media only screen and (min-width: 1367px){
	section.rodape{
		position: fixed;
		bottom: 0;	
	}
	
	body{
		background-size: 100% 100%;
	}
}

@media only screen and (min-width: 1560px) and (max-width: 1919px) {

}

/*Televisões ou monitores full HD com 22"*/
@media only screen and (min-width: 1920px){
	section#paineis > ul > li.painel{	
		width: 17%;
    	margin: 0 4% 50px;
    	padding: 55px 10px 50px 10px		
	}
	
	
	section#paineis > ul > li.painel > a > p{	
		padding: 0 30px;				
	}	
}