*{
     margin: 0;
     padding: 0;
     font-family: 'Lato', sans-serif;
     color: #000;
}

a{
     text-decoration: none;
     color: #000;
}

a:hover{
     text-decoration: none;
     color: #000;
}

.clear{
     clear: both;
}

.alert{
     display: none;
     margin: 0;
}

.borda_erro{
     border: solid 1px red;
}

.btn-default{
     background-image: none;
     border-color: #e61b72;
     background-color: #e61b72;
     color: #FFF;
     font-size: 0.9em;
     letter-spacing: 1px;
}

.btn-default:hover{
     background-image: none;
     border-color: rgba(227, 27, 110, 1);
     background-color: rgba(227, 27, 110, 0.9);
     color: #FFF;  
}


/*Cabeçalho*/
header{
     width: 100%;	  
     background-color: #f3f3f3;
     height: auto;
     border-bottom: solid 1px #cccccc;
     position: fixed;
}

header > h1{
     margin: 0;
}

header > h1 img{
     float: left;
     width: 50px;
     height: 50px;
     margin: 5px 0 5px 8px;
}


header .btns_menu{
     float: left;
}

header .btns_menu > img{
     width: 27px;
     height: 27px;
     margin: 18px 0 0 15px;     
}

.btns_menu > img#img-adiciona-item,
.btns_menu > img#excluirItemLista,
.btns_menu > img#abre-modal-limpar-lista,
.btns_menu > img#abre-modal-gerar-fechamento,
.btns_menu > img#abre-modal-importar-planilha{
	 display: none;
}

header > #img_menu_suspenso{
	display: block;
}

header > #img_buscar,
header > #img_menu_suspenso,
header > #hamburguer_open{
	float: right;
	margin: 18px 0 0 10px;  
}

header > #img_buscar,
header > #img_menu_suspenso{
     width: 27px;
     height: 27px;	       
}          

header > #hamburguer_open{
     float: right;
     width: 29px;
     height: 29px;
}

#filtro_pesquisa{
     width: 0;
     float: left;
     display: none;
     padding: 15px 0 0 20px;
}

#filtro_pesquisa .form-control{
	width: 98%;
}

#filtro_pesquisa #close_busca{
     width: 18px;
     height: 18px;
     display: none;
     float: right;
     margin: -25px 20px 0 0;
}





#menu-mobile{
     background-color: rgba(73, 73, 73, 1);
     height: 100%;
     position: fixed;	  
     /*width: 88%;*/
     width: 0;
     display: none;
}

#menu-mobile > #close_menu_mobile{
     text-align: right;
     margin-bottom: 12px;
}

#menu-mobile > #close_menu_mobile > img{
     width: 41px;
     height: 41px;
     margin: 12px 15px 0 0;	  
}

#div-filtros{
     overflow: auto;
     max-height: 83%;     
}

.filtros{
     width: 100%;
}

.titulo_filtro{
     color: #FFF;
     padding: 10px 10px;
     font-size: 1.1em;
     /*font-weight: bold;*/
     width: 93%;
     margin: 0 auto;
     background-color: rgba(181, 180, 181, 0.4);
}

.titulo_filtro img{
     width: 15px;
     height: 15px;
     margin-left: 7px;
}

.filtros div{
     color: #FFF;
     padding: 12px 10px;
     font-size: 0.9em;
     width: 93%;
     margin: 0 auto;
}

.filtros img{
     width: 28px;
     height: 25px;
     margin: 0 10px 0 0;
}

#abre_marcas,
.filtro_sexo,
#abre_tipo{
     display: none;
}

#abre_sexo,
#abre_marcas,
#btn_comprados,
#btn_unissex,
#abre_tipo{
     border-bottom: solid 1px rgba(181, 180, 181, 0.5);
}

#abre_tipo{
     border-top: solid 1px rgba(181, 180, 181, 0.5);
}

.filtro_selecionado,
.marca_selecionada,
.sexo_selecionado,
.tipo_selecionado,
.item_naocomprado_selecionado,
.item_comprado_selecionado{     
     background-color: rgba(181, 180, 181, 0.4);     
}
  

#lista_compras{
     padding-top: 54px;
}          

div.marca{
     font-size: 1.1em;
     font-weight: bold;	  
     margin-top: 20px;
     padding-left: 15px;
     margin-bottom: 5px;
}

.produto_lista{
     width: 90%;
     border-bottom: solid 1px #cccccc;
     padding-bottom: 10px;
     float: left;
}  

.titulo_produto{
     font-size: 0.9em;
     font-weight: bold;	  
     padding-left: 14px;
     padding-top: 10px;
}

.descricao_produto{
     font-size: 0.8em;
     color: #555656;
     padding-left: 14px;
}


#notificacao_lista_compras{
     display: none;
     text-align: center;
     position: fixed;
     width: 100%;
     top: 50%;	  
     font-size: 1.2em;	  
     border-radius: 10px;
     padding: 20px 0;
     background-color: rgba(0, 0, 0, 0.5);
     color: #FFF;
}

#item_clicado{	 
     text-align: center;
     position: fixed;
     width: 100%;
     height: 0;	  
     bottom: 0;	  
     font-size: 1.2em;
     /*border-top-left-radius: 10px;*/
     /*border-top-right-radius: 10px;*/
     background-color: rgba(0, 0, 0, 0.6);
     color: #FFF;
}

div.marca-filtro{
     font-size: 1.4em;
     width: 50%;
     text-align: center;
     margin: 0 auto;
}

#separacao-nao-comprados{
     margin-top: 7px;
}

.separacao{
     background-color: rgba(73, 73, 73, 0.3);
     font-size: 1.1em;
     font-weight: bold;
     border-bottom: solid 1px #cccccc;	  
     padding: 8px 0 ;
     text-align: center;
}



#info_item{
     margin-bottom: 10px;
}

.info_item_produto{
     /*border: solid 1px red;*/
     font-size: 1.2em;
     text-align: center;    
}

.info_item_qtds{
     margin: 7px 0;
     padding: 10px 5px;
     border-bottom: solid 2px #cccccc;
}

.info_item_qtds span{     
     float: right;
}

#form_quantidade_comprada{
     margin-top: 10px;     
}

#quantidade_comprada{
     height: 50px;
}

.abre_cliente_compra{     
     width: 10%;
     float: right;
     border-bottom: solid 1px #cccccc;
     padding: 14px 0 14px 0;
     text-align: center;
}

.abre_cliente_compra > img{
     width: 30px;
     height: auto;
     /*margin: 0 1.80% 0 1.8%;*/
}

.form-control{
	width: 120%;
}

.form-horizontal .control-label{
	width: 100%;
	text-align: left;
	margin-bottom: 5px;
}

.tooltip{
	opacity: 1;
	position: initial;
}

#menu-suspenso{
	display: none;
	background-color: #FFF;
	width: 200px;
	height: auto;
	position: fixed;
	top: 60px;
	right: 2px;
	border: solid 1px #cccccc;
}

#menu-suspenso ul{
	list-style: none;
	margin: 8px 8px 0 8px;	
}

#menu-suspenso img{
	width: 27px;
	height: 27px;
	margin-right: 13px;
}


#menu-suspenso ul li{
	margin-bottom: 8px;
	padding: 8px 0 8px 8px;
	border-bottom: solid 1px #cccccc;
}

#menu-suspenso ul li:last-child{
	border: none;
	padding-bottom: 3px;
}

#modalImportarPlanilha .form-control{
	width: 90%;
	display: inline-block;
}


.botao-upload {
    position: relative;
    overflow: hidden;
    background-color: #417ec0;				
	border: none;		
	text-align: center;    
    font-weight: bold;
    display: inline-block;
    border-radius: 2px;
	padding: 7px 15px 7px;
	float: right;
	margin-right: -100px;
}

.botao-upload > span{
	color: #FFF;
}

.botao-upload input.botao-upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*------------------------------------------------------------------------------------*/
/*Mobiles de até 480px de resolução de largura - praticamente todos em*/
@media only screen and (max-width: 480px) {
	.form-control{
		width: 100%;
	}
}

/*Mobiles em landscape   iphone 5/5s tem 640px, iphone 6  tem 750px*/
@media only screen and (min-width: 481px) and (max-width: 767px) {             
	.form-control{
		width: 100%;
	}
}

/*Tablets em retrato tem entre 768px e 800px*/
@media only screen and (min-width: 768px) and (max-width: 979px) {


}

/*Iphone 6 plus tem 1080*/
@media only screen and (min-width: 980px) and (max-width: 1023px) {

}

/*Monitores*/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

}

/*Monitores 2*/
@media only screen and (min-width: 1280px) and (max-width: 1919px) {

}

/*Televisões ou monitores full HD com 22"*/
@media only screen and (min-width: 1920px){

}

@media only screen and (min-width: 1020px){
	#filtro_pesquisa #close_busca{
	     margin: -25px 40px 0 0;
	}
}

@media only screen and (min-width: 500px){
	header > #img_menu_suspenso{
		display: none;
	}
	
	.btns_menu > img#img-adiciona-item,
	.btns_menu > img#excluirItemLista,
	.btns_menu > img#abre-modal-limpar-lista,
	.btns_menu > img#abre-modal-gerar-fechamento,
	.btns_menu > img#abre-modal-importar-planilha{
		 display: block;
	}
}