*{
     margin: 0;
     padding: 0;
     font-family: 'Lato', sans-serif;
     color: #000;
}

a{
     text-decoration: none;
     color: #000;
}

.clear{
     clear: both;
}


/*Mobiles de até 480px de resolução de largura - praticamente todos em*/
@media only screen and (max-width: 480px) {


}

/*Mobiles em landscape   iphone 5/5s tem 640px, iphone 6  tem 750px*/
@media only screen and (min-width: 481px) and (max-width: 767px) {   

}

/*Tablets tem entre 768px e 800px*/
@media only screen and (min-width: 768px) and (max-width: 979px) {


}

/*Iphone 6 plus tem 1080*/
@media only screen and (min-width: 980px) and (max-width: 1023px) {

}

/*Monitores*/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

}

/*Monitores 2*/
@media only screen and (min-width: 1280px) and (max-width: 1919px) {
     body{
	  /*background-color: lightblue;*/
     }

     /*Botões genéricos*/
     .btn-default{
	  background-image: none;
	  border-color: #e31b63;
	  background-color: #e31b63;
	  color: #FFF;
     }

     .btn-default:hover{
	  background-image: none;
	  border-color: rgba(227, 27, 110, 1);
	  background-color: rgba(227, 27, 110, 0.9);
	  color: #FFF;  
     }

     /*Cabeçalho fixo*/
     header,
     header > img,
     header > #formPesquisa,
     header > section#usuarioLogado{
	  position: fixed;
     }

     /*Cabeçalho*/
     header{
	  width: 100%;
	  /*background-color: rgba(240, 240, 240, 0.6);*/
	  background-color: #f3f3f3;
	  height: 100px;
	  border-bottom: solid 1px #cccccc;
	  position: fixed;
	  top: 0;
	  right: 0;
	  left: 0;
     }

     /*Logo akimia no cabeçalho*/
     header > img{
	  width: 75px;
	  height: 75px;
	  top: 8px;
	  left: 5%;
     }

     header > img:hover{
	  cursor: pointer;
     }

     /*Formulário de pesquisa no cabeçalho*/
     header > #formPesquisa{
	  width: 70%;
	  left: 18%;
     }

     /*Nome do usuário logado no cabeçalho*/
     header > section#usuarioLogado{
	  right: 3%;
	  font-size: 1.1em;
	  padding-top: 5px;
     }

     header > #formPesquisa,
     header > section#usuarioLogado{
	  top: 31px;
     }

     /*Text box de pesquisa*/
     header > #formPesquisa .form-control{
	  float: left;
	  width: 85%;
	  border-top-right-radius: inherit;
	  border-bottom-right-radius: inherit;
     }

     /*Botão pesquisar*/
     header > #formPesquisa button#btnPesquisarCliente{
	  float: left;
	  width: 80px;
	  height: 34px;
	  border-top-left-radius: inherit;
	  border-bottom-left-radius: inherit;
     }

     /*Imagem dentro do botão pesquisar*/
     header > #formPesquisa button#btnPesquisarCliente > img{
	  width: 25px;
	  height: 25px;
	  margin-top: -2px;
     }


     /*A parte do central*/
     /*Relatórios*/
     .relatorios{
	  margin: 0 auto;
	  margin-top: 150px;
	  width: 90%;
	  min-height: 410px;
	  max-height: 410px;
	  background-color: #fff;
     }

     /*Tabela de relatório*/
     .relatorios > .tabela-clientes{	  
	  width: 100%;
	  /*background-color: rgba(240, 240, 240, 0.5);*/
	  /*background-color: #f3f3f3;*/
	  background-color: rgba(243,243,243, 0.5);
	  display: none;
     }

     /*Linhas do relatório*/
     .relatorios > .tabela-clientes tr{
	  border-bottom: solid 1px rgba(204, 204, 204, 0.5);
     }

     /*Mouse hover nas linhas do relatório*/
     .relatorios > .tabela-clientes tr:hover{
	  background-color: rgba(240, 240, 240, 1);
	  cursor: pointer;
	  font-weight: bold;
     }

     /*Espaço entre as células*/
     .relatorios > .tabela-clientes th,
     .relatorios > .tabela-clientes td{
	  padding: 8px 40px;
     }

     /*Paginação*/
     #paginacao{
	  text-align: center;
	  width: 100%;
	  padding: 10px 0;
     }

     .anteior,
     .proxima{
	  border-radius: 20px;
	  background-color: rgba(204, 204, 204, 0.5);
	  border: solid 1px rgba(204, 204, 204, 1);
     }

     /*Mensagem de sem resultados na busca ou sem clientes cadastrados*/
     .sem-resultados-busca-clientes,
     .sem-clientes-cadastrados{
	  text-align: center;
	  font-size: 1.5em;
	  margin-top: 130px;
	  min-height: 475px;
	  max-height: 475px;
     }

     /*Mensagem com resultados na busca*/
     .total-clientes,
     .com-resultados-busca-clientes{
	  text-align: center;
	  font-size: 1.5em;
	  position: fixed;
	  top: 90px;
	  width: 100%;
	  background-color: #FFF;
	  border-bottom: solid 1px rgba(204, 204, 204, 0.5);
	  padding: 15px 0;
     }

     /*Modal com o usuário clicado*/
     #myModalUsuario{
	  display: none;
     }


     #numeracao-page{
	  position: fixed;
	  right: 5.30%;
	  top: 110px;
     }

     .form-usuario{
	  margin: 0 auto;
	  width: 95%;
     }

     /*Tamanho do label*/
     .form-usuario .col-sm-2{
	  width: 23%;
	  margin-top: -2px;
     }
     /*Tamanho do label2*/
     .form-usuario .control-label{
	  text-align: right;
     }

     /*Tamanho da texbox*/
     .form-usuario .col-sm-10{
	  width: 77%;
     }

     .apelido-form{
	  margin-top: 6px;
     }

     .modal{
	  display: none;
     }

     /*Rodapé*/
     footer{
	  width: 100%;
	  text-align: center;
	  /*position: fixed;*/
	  /*bottom: 0;*/
	  padding: 5px 0;
     }
}

/*Televisões ou monitores full HD com 22"*/
@media only screen and (min-width: 1920px){

}