*{
     margin: 0;
     padding: 0;
     font-family: 'Lato', sans-serif;
     color: #000;
}

a{
     text-decoration: none;
     color: #000;
}

a:hover{
     text-decoration: none;
     color: #000;
}

.clear{
     clear: both;
}

/*Cabeçalho*/
header{
     width: 100%;	  
     background-color: #f3f3f3;
     height: 100px;
     border-bottom: solid 1px #cccccc;	  
}


/*Mobiles de até 480px de resolução de largura - praticamente todos em*/
@media only screen and (max-width: 480px) {
     /*Titulo da lista de compras*/
     header > h1{
	  margin: 0;
	  text-align: center;	  
	  width: 100%;
	  padding-top: 27px;
	  font-size: 2.0em;
     }

     header > h1 img{
	  width: 60px;
	  height: 60px;
	  margin-right: 20px;
	  margin-top: -10px;
     }

     header > h1 img:hover{
	  cursor: pointer;
     }
     
     .filtros{
	  text-align: center;	  
	  width: 100%;
	  margin: 10px 0;
     }

     .btns_filtros{
	  border: solid 1px #cccccc;	  
	  display: inline-table;
	  margin: 5px;
	  padding: 10px 0;
	  width: 100px;
     }

     .btns_filtros > img{
	  width: 25px;
	  height: 25px;
	  margin-right: 5px;
     }
     
     .btns_filtros:hover{	  
	  background-color: #f3f3f3;
	  cursor: pointer;
     }
     
     .filtro_selecionado{	  
	  background-color: #f3f3f3;
     }
     
     #filtro_sexo{
	  display: none;
     }
     
     #filtro_pesquisa{
	  width: 40%;
	  margin: 0 auto;	  
	  margin-top: 10px;
     }







     /*Marcas da lista de compras*/
     #lista_compras table{
	  width: 100%;	  
	  margin: 0 auto;
	  margin-top: 10px;	  	  
     }

     
     #lista_compras table thead tr th{
	  padding: 8px 0 8px 15px;	    
	  color: #FFF;	  
	  background-color: rgba(227, 27, 110, 0.8);	  
     }
     
     
     #lista_compras table tbody tr td{
	 padding: 5px 15px;	  
     }
     
     div.marca{
	  font-size: 1.2em;
	  font-weight: bold;	  	  
     }
     
     #lista_compras table tbody tr td hr{
	  margin: 0;
	  padding: 0;
     }
     
     #lista_compras table img{
	  width: 28px;
	  height: 28px;	  
     }

     #lista_compras table img:hover{
	  cursor: pointer;
     }


     #notificacao_lista_compras{
	  display: none;
	  text-align: center;
	  position: fixed;
	  width: 60%;
	  top: 50%;
	  left: 20%;
	  font-size: 1.2em;	  
	  border-radius: 10px;
	  padding: 20px 0;
	  background-color: rgba(0, 0, 0, 0.5);
	  color: #FFF;
     }

     #item_clicado{	 
	  text-align: center;
	  position: fixed;
	  width: 100%;
	  height: 0;	  
	  bottom: 0;	  
	  font-size: 1.2em;
	  /*border-top-left-radius: 10px;*/
	  /*border-top-right-radius: 10px;*/
	  background-color: rgba(0, 0, 0, 0.6);
	  color: #FFF;
     }

}

/*Mobiles em landscape   iphone 5/5s tem 640px, iphone 6  tem 750px*/
@media only screen and (min-width: 481px) and (max-width: 767px) {   
     /*Titulo da lista de compras*/
     header > h1{
	  margin: 0;
	  text-align: center;	  
	  width: 100%;
	  padding-top: 27px;
	  font-size: 2.0em;
     }

     header > h1 img{
	  width: 60px;
	  height: 60px;
	  margin-right: 20px;
	  margin-top: -10px;
     }

     header > h1 img:hover{
	  cursor: pointer;
     }
     
     .filtros{
	  text-align: center;	  
	  width: 100%;
	  margin: 10px 0;
     }

     .btns_filtros{
	  border: solid 1px #cccccc;	  
	  display: inline-table;
	  margin: 5px;
	  padding: 10px 0;
	  width: 150px;
     }

     .btns_filtros > img{
	  width: 25px;
	  height: 25px;
	  margin-right: 5px;
     }
     
     .btns_filtros:hover{	  
	  background-color: #f3f3f3;
	  cursor: pointer;
     }
     
     .filtro_selecionado{	  
	  background-color: #f3f3f3;
     }
     
     #filtro_sexo{
	  display: none;
     }
     
     #filtro_pesquisa{
	  width: 40%;
	  margin: 0 auto;	  
	  margin-top: 10px;
     }







     /*Marcas da lista de compras*/
     #lista_compras table{
	  width: 100%;	  
	  margin: 0 auto;
	  margin-top: 10px;	  	  
     }

     
     #lista_compras table thead tr th{
	  padding: 8px 0 8px 15px;	    
	  color: #FFF;	  
	  background-color: rgba(227, 27, 110, 0.8);	  
     }
     
     
     #lista_compras table tbody tr td{
	 padding: 5px 15px;	  
     }
     
     div.marca{
	  font-size: 1.2em;
	  font-weight: bold;	  	  
     }
     
     #lista_compras table tbody tr td hr{
	  margin: 0;
	  padding: 0;
     }
     
     #lista_compras table img{
	  width: 28px;
	  height: 28px;	  
     }

     #lista_compras table img:hover{
	  cursor: pointer;
     }


     #notificacao_lista_compras{
	  display: none;
	  text-align: center;
	  position: fixed;
	  width: 60%;
	  top: 50%;
	  left: 20%;
	  font-size: 1.2em;	  
	  border-radius: 10px;
	  padding: 20px 0;
	  background-color: rgba(0, 0, 0, 0.5);
	  color: #FFF;
     }

     #item_clicado{	 
	  text-align: center;
	  position: fixed;
	  width: 100%;
	  height: 0;	  
	  bottom: 0;	  
	  font-size: 1.2em;
	  /*border-top-left-radius: 10px;*/
	  /*border-top-right-radius: 10px;*/
	  background-color: rgba(0, 0, 0, 0.6);
	  color: #FFF;
     }
     
     
}

/*Tablets em retrato tem entre 768px e 800px*/
@media only screen and (min-width: 768px) and (max-width: 979px) {
     /*Titulo da lista de compras*/
     header > h1{
	  margin: 0;
	  text-align: center;	  
	  width: 100%;
	  padding-top: 27px;
	  font-size: 2.0em;
     }

     header > h1 img{
	  width: 60px;
	  height: 60px;
	  margin-right: 20px;
	  margin-top: -10px;
     }

     header > h1 img:hover{
	  cursor: pointer;
     }
     
     .filtros{
	  text-align: center;	  
	  width: 100%;
	  margin: 10px 0;
     }

     .btns_filtros{
	  border: solid 1px #cccccc;	  
	  display: inline-table;
	  margin: 5px;
	  padding: 10px 0;
	  width: 200px;
     }

     .btns_filtros > img{
	  width: 25px;
	  height: 25px;
	  margin-right: 5px;
     }
     
     .btns_filtros:hover{	  
	  background-color: #f3f3f3;
	  cursor: pointer;
     }
     
     .filtro_selecionado{	  
	  background-color: #f3f3f3;
     }
     
     #filtro_sexo{
	  display: none;
     }
     
     #filtro_pesquisa{
	  width: 40%;
	  margin: 0 auto;	  
	  margin-top: 10px;
     }







     /*Marcas da lista de compras*/
     #lista_compras table{
	  width: 98%;	  
	  margin: 0 auto;
	  margin-top: 10px;	  	  
     }

     
     #lista_compras table thead tr th{
	  padding: 8px 0 8px 15px;	    
	  color: #FFF;	  
	  background-color: rgba(227, 27, 110, 0.8);	  
     }
     
     
     #lista_compras table tbody tr td{
	 padding: 5px 15px;	  
     }
     
     div.marca{
	  font-size: 1.2em;
	  font-weight: bold;	  	  
     }
     
     #lista_compras table tbody tr td hr{
	  margin: 0;
	  padding: 0;
     }
     
     #lista_compras table img{
	  width: 28px;
	  height: 28px;	  
     }

     #lista_compras table img:hover{
	  cursor: pointer;
     }


     #notificacao_lista_compras{
	  display: none;
	  text-align: center;
	  position: fixed;
	  width: 60%;
	  top: 50%;
	  left: 20%;
	  font-size: 1.2em;	  
	  border-radius: 10px;
	  padding: 20px 0;
	  background-color: rgba(0, 0, 0, 0.5);
	  color: #FFF;
     }

     #item_clicado{	 
	  text-align: center;
	  position: fixed;
	  width: 100%;
	  height: 0;	  
	  bottom: 0;	  
	  font-size: 1.2em;
	  /*border-top-left-radius: 10px;*/
	  /*border-top-right-radius: 10px;*/
	  background-color: rgba(0, 0, 0, 0.6);
	  color: #FFF;
     }

}

/*Iphone 6 plus tem 1080*/
@media only screen and (min-width: 980px) and (max-width: 1023px) {
          /*Titulo da lista de compras*/
     header > h1{
	  margin: 0;
	  text-align: center;	  
	  width: 100%;
	  padding-top: 27px;
	  font-size: 2.0em;
     }

     header > h1 img{
	  width: 60px;
	  height: 60px;
	  margin-right: 20px;
	  margin-top: -10px;
     }

     header > h1 img:hover{
	  cursor: pointer;
     }
     
     .filtros{
	  text-align: center;	  
	  width: 100%;
	  margin: 10px 0;
     }

     .btns_filtros{
	  border: solid 1px #cccccc;	  
	  display: inline-table;
	  margin: 0 5px;
	  padding: 10px 0;
	  width: 200px;
     }

     .btns_filtros > img{
	  width: 25px;
	  height: 25px;
	  margin-right: 5px;
     }
     
     .btns_filtros:hover{	  
	  background-color: #f3f3f3;
	  cursor: pointer;
     }
     
     .filtro_selecionado{	  
	  background-color: #f3f3f3;
     }
     
     #filtro_sexo{
	  display: none;
     }
     
     #filtro_pesquisa{
	  width: 40%;
	  margin: 0 auto;	  
	  margin-top: 10px;
     }







     /*Marcas da lista de compras*/
     #lista_compras table{
	  width: 98%;	  
	  margin: 0 auto;
	  margin-top: 10px;	  	  
     }

     
     #lista_compras table thead tr th{
	  padding: 8px 0 8px 15px;	    
	  color: #FFF;	  
	  background-color: rgba(227, 27, 110, 0.8);	  
     }
     
     
     #lista_compras table tbody tr td{
	 padding: 5px 15px;	  
     }
     
     div.marca{
	  font-size: 1.2em;
	  font-weight: bold;	  	  
     }
     
     #lista_compras table tbody tr td hr{
	  margin: 0;
	  padding: 0;
     }
     
     #lista_compras table img{
	  width: 28px;
	  height: 28px;	  
     }

     #lista_compras table img:hover{
	  cursor: pointer;
     }


     #notificacao_lista_compras{
	  display: none;
	  text-align: center;
	  position: fixed;
	  width: 60%;
	  top: 50%;
	  left: 20%;
	  font-size: 1.2em;	  
	  border-radius: 10px;
	  padding: 20px 0;
	  background-color: rgba(0, 0, 0, 0.5);
	  color: #FFF;
     }

     #item_clicado{	 
	  text-align: center;
	  position: fixed;
	  width: 100%;
	  height: 0;	  
	  bottom: 0;	  
	  font-size: 1.2em;
	  /*border-top-left-radius: 10px;*/
	  /*border-top-right-radius: 10px;*/
	  background-color: rgba(0, 0, 0, 0.6);
	  color: #FFF;
     }
}

/*Monitores*/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

}

/*Monitores 2*/
@media only screen and (min-width: 1280px) and (max-width: 1919px) {

}

/*Televisões ou monitores full HD com 22"*/
@media only screen and (min-width: 1920px){

}

