*{
     margin: 0;
     padding: 0;
     font-family: 'Lato', sans-serif;
     color: #000;
}

a{
     text-decoration: none;
     color: #000;
}

a:hover{
     text-decoration: none;
     color: #000;
}

.clear{
     clear: both;
}


/*Botões genéricos*/
.btn-default{
     background-image: none;
     border-color: #e61b72;
     background-color: #e61b72;
     color: #FFF;
}

.btn-default:hover{
     background-image: none;
     border-color: rgba(227, 27, 110, 1);
     background-color: rgba(227, 27, 110, 0.9);
     color: #FFF;  
}

.fechamento_selecionado{
     background-color: rgba(181, 180, 181, 0.4);
}

.alert{
     display: none;
}

/***************************************************************************************************8*/


/*Cabeçalho da lista de compras e fechamento*/
header{
     width: 100%;	       
     height: auto;
     border-bottom: solid 1px #cccccc;     
     background-color: #FFF;
}

header > h1{
     margin: 0;	  
     width: 100%;
     padding-top: 18px;
     font-size: 1.8em;
     background-color: #f3f3f3;
     height: auto;     
     padding-bottom: 17px;
}

header > h1 img{
     width: 50px;
     height: 50px;
     margin-right: 20px;
     margin-left: 2.9%;
     margin-top: -10px;
}

header > h1 img:hover{
     cursor: pointer;
}

section#painel-fechamentos{
     width: 40%;
     margin: 0 auto;
}

section#painel-fechamentos > h2,
section#painel-resumos > h2{
     text-align: center;
     margin-bottom: 20px;
     font-size: 1.7em;
}

section#painel-fechamentos > h2 > img{
     width: 20px;
     height: auto;
     margin-left: 10px;
}

section#painel-fechamentos ul{
     /*width: 40%;*/
     list-style: none;
     /*margin: 0 auto;*/   
     /*text-align: center;*/
     border: solid 1px #cccccc;
     max-height: 400px;
     overflow: auto;
     /*display: none;*/
}

section#painel-fechamentos ul li:first-child{     
     background-color: #e72b7b;
     border-bottom: solid 1px #cccccc;
}

section#painel-fechamentos ul li:first-child > div{
     font-weight: bold;
     color: #FFF;
}



section#painel-fechamentos ul li{
     /*border-bottom: solid 1px #cccccc;*/
}

section#painel-fechamentos ul li div{     
     display: inline-block;
     width: 32%;
     padding: 10px 0 10px 10px;     
     border-left: solid 1px #cccccc;
}

section#painel-fechamentos ul li:hover{
     cursor: pointer;
}

section#painel-fechamentos #btn-gerar-tudo{
     display: inline-block;
     text-align: center;
     font-weight: 100;
     font-size: 1.2em;
     border: solid 1px #e72b7b;
     padding: 10px 0;
     color: #e72b7b;     
     width: 35%;
     float: right;
     margin-bottom: 10px;
}

section#painel-fechamentos #btn-gerar-tudo:hover{
     cursor: pointer;
}

section#painel-resumos{     
     text-align: center;     
}


section#painel-resumos .table-resumos{     
     display: inline-table;
     margin: 0 10px 10px 10px;
}

section#painel-resumos .table-resumos > caption{
     text-align: center;
     color: #000;
}

section#painel-resumos .table-resumos tr th{
     background-color: #e72b7b;
     color: #FFF;
     border: solid 1px rgba(168, 168, 168, 1.0);
     width: 130px;
}

section#painel-resumos .table-resumos tr th,
section#painel-resumos .table-resumos tr td{
     padding: 10px 5px;
     border: solid 1px rgba(168, 168, 168, 1.0);     
}

section#painel-resumos .table-resumos tr td{
     text-align: left;
     width: 100px;
}

section#painel-grafico{
     width: 100%;
     height: 550px;
}


#loading-resultados{
     text-align: center;
     margin-top: 10px;
     display: none;
}

#loading-resultados > img{
     width: 40px;
     height: auto;
     margin-right: 20px;
}

#loading-resultados > span{
     font-size: 1.3em;
}

/*Mobiles de até 480px de resolução de largura - praticamente todos em*/
@media only screen and (max-width: 480px) {     

}

/*Mobiles em landscape   iphone 5/5s tem 640px, iphone 6  tem 750px*/
@media only screen and (min-width: 481px) and (max-width: 767px) {   

}

/*Tablets em retrato tem entre 768px e 800px*/
@media only screen and (min-width: 768px) and (max-width: 979px) {


}

/*Iphone 6 plus tem 1080*/
@media only screen and (min-width: 980px) and (max-width: 1023px) {

}

/*Monitores*/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

}

/*Monitores 2*/
@media only screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*Televisões ou monitores full HD com 22"*/
@media only screen and (min-width: 1920px){
     section#painel-grafico{	  
	  height: 750px;
     }
}