*{
     margin: 0;
     padding: 0;
     font-family: 'Lato', sans-serif;
     color: #000;
}

a{
     text-decoration: none;
     color: #000;
}

a:hover{
     text-decoration: none;
     color: #000;
}

.clear{
     clear: both;
}


/*Botões genéricos*/
.btn-default{
     background-image: none;
     border-color: #e61b72;
     background-color: #e61b72;
     color: #FFF;
}

.btn-default:hover{
     background-image: none;
     border-color: rgba(227, 27, 110, 1);
     background-color: rgba(227, 27, 110, 0.9);
     color: #FFF;  
}
/***************************************************************************************************8*/

/*Cabeçalho*/
header{
     width: 100%;	  
     background-color: #f3f3f3;
     height: 100px;
     border-bottom: solid 1px #cccccc;	  
}

/*Logo akimia no cabeçalho*/
header > img{
     width: 75px;
     height: 75px;	  
     margin: 12px 0 0 4%;
     float: left;
}

header > img:hover{
     cursor: pointer;
}

/*Formulário de pesquisa no cabeçalho*/
header > #formPesquisa{
     float: left;
     width: 50%;
     padding-top: 31px;
     margin-left: 10%;	  
}


/*Text box de pesquisa*/
header > #formPesquisa .form-control{
     width: 80%;
     float: left;
     border-top-right-radius: inherit;
     border-bottom-right-radius: inherit;
}

/*Botão pesquisar*/
header > #formPesquisa button#btnPesquisarCliente{
     float: left;
     width: 80px;
     height: 34px;
     border-top-left-radius: inherit;
     border-bottom-left-radius: inherit;
}

/*Imagem dentro do botão pesquisar*/
header > #formPesquisa button#btnPesquisarCliente > img{
     width: 25px;
     height: 25px;
     margin-top: -2px;
}


header > section#settings{
     float: left;
     margin-top: 29px;
     margin-left: 7%;
     position: relative;
}

header > section#settings > img{
     width: 37px;
     height: 37px;
     padding: 2px;
     border: solid 1px transparent;	  
     border-radius: 8px;

}

header > section#settings > img:hover{	  
     border: solid 1px #c4c4c4;	  
}

section#settings_expand{	  
     background-color: #FFF;
     border: solid 1px rgba(204, 204, 204, 0.9);
     width: 260px;
     left: 76%;
     top: 75px;
     padding: 10px;
     position: absolute;
     display: none;
}

section#settings_expand table{
     width: 100%;
     text-align: center;	  
}

section#settings_expand table td{
     padding: 6px;	  	 
     width: 50%
}

section#settings_expand table img{
     width: 48px;
     height: 48px;
     margin: 0 auto;
}

section#settings_expand .link_importar:hover{
     cursor: pointer;
}

/*Nome do usuário logado no cabeçalho*/
header > section#usuarioLogado{
     float: left;
     margin-top: 30px;
     margin-left: 1%;
     font-size: 1.1em;
     padding-top: 5px;
}

.notifica_resultados{
     border-bottom: solid 1px rgba(204, 204, 204, 0.9);
     padding: 18px;
     text-align: center;
     font-size: 1.4em;
}

.numeracao_paginas{	  
     text-align: right;
     padding-right: 4%;
     margin-top: -28px;
     font-size: 1.1em;
}

.tabelas{
     width: 95%;
     margin: 0 auto;
     margin-top: 6px;
     border: solid 1px rgba(204, 204, 204, 0.9);	  	  
}

.tabelas tr td,
.tabelas tr th{
     width: 25%;
     padding: 8px 0 8px 3%;
     border: solid 1px rgba(204, 204, 204, 0.9);
}


.tabelas2{	  
     margin-top: 20px;
     border: solid 1px rgba(204, 204, 204, 0.9);	
}

.tabelas2 tr td,
.tabelas2 tr th{
     width: 5%;
     padding: 8px 4px;
     border: solid 1px rgba(204, 204, 204, 0.9);
}

#table-lista-compras{
     width: 95%;
     margin: 0 auto;
     margin-top: 20px;
}

#atualizando_tabela{	  
     display: none;
     width: 165px;
     margin: 0 auto;
     font-size: 1.1em;
     margin-top: 8px;
}

#atualizando_tabela > img{
     width: 30px;
     height: auto;
     margin-right: 10px;
}

#tabela-fechamento{
     width: 95%;
     margin: 0 auto;
     margin-top: 20px;	  	  
}

#tabela-fechamento tr th{
     padding: 8px 0 8px 10px;
     background-color: #e72b7b;
     color: #FFF;     
     border: solid 2px rgba(168, 168, 168, 1.0);
}

#tabela-fechamento tr th.bold{
     font-weight: bold;
     font-size: 1.2em;
}

#tabela-fechamento tr th#produto-fechamento{
     width: 17.50%;
     background-color: transparent;
     border: none;
}


#tabela-fechamento tr td{
     width: 8.20%;
     /*border-bottom: solid 1px #cccccc;*/
     /*border: solid 2px #9c9c9c;*/
     border: solid 2px rgba(168, 168, 168, 1.0);
}

#tabela-fechamento td.linha-marca{
     border-bottom: none;
}

.marca-fechamento{
     font-size: 1.2em;
     margin-top: 12px;
}

.properts-produto{
     font-size: 0.9em;
     color: #666666;
}


#tabela-fechamento .form-control{
     width: 100%;
}

.border-green{
     border: #33cc00 solid 1px;
}

#table-parametros{
     width: 35%;	  
     margin-left: 2.5%;     
}


#table-parametros-fechamento{
     float: left;
     margin-right: 20px;
     margin-bottom: 20px;
}

#table-parametros-fechamento,
#tabela-resumo{     
     margin-left: 2.5%;
     margin-top: 15px;
}


#table-parametros-fechamento tr th,
#tabela-resumo tr th{
     background-color: #e72b7b;
     color: #FFF;
     border: solid 2px rgba(168, 168, 168, 1.0);
     width: 160px;
}

#tabela-resumo tr th,
#tabela-resumo tr td{
     padding: 10px 5px;
     border: solid 2px rgba(168, 168, 168, 1.0);     
}

#tabela-resumo tr td{
     width: 120px;
}

#table-parametros-fechamento tr th,
#table-parametros-fechamento tr td{
     padding: 8px 5px;
     border: solid 2px rgba(168, 168, 168, 1.0);
}

#tabela-fechamento tr td{
     padding: 3px 4px;
     outline-offset: -4px;
}

#table-parametros-fechamento tr td{
     width: 120px;
     padding: 3px;
     outline-offset: -3px;
     /*outline: 4px solid rgba(84, 120, 177, 1.0);*/
}

.outline_azul{
     outline: 4px solid rgba(84, 120, 177, 1.0);
}

.outline_verde{
     outline: 4px solid rgba(59, 188, 16, 1.0);
}
















.paginacao{	  
     text-align: center;
     margin-top: 20px;
}

.btnPaginacao{
     border: solid 1px rgba(204, 204, 204, 0.9);
     padding: 8px 15px;
     border-radius: 8px;
}


.btnPaginacao:hover{	  
     border-color: rgba(227, 27, 110, 1);
     background-color: rgba(227, 27, 110, 0.9);
     color: #FFF;  
}


.form-usuario{
     margin: 0 auto;
     width: 95%;
}

/*Tamanho do label*/
.form-usuario .col-sm-2{
     width: 23%;
     margin-top: -2px;
}
/*Tamanho do label2*/
.form-usuario .control-label{
     text-align: right;
}

/*Tamanho da texbox*/
.form-usuario .col-sm-10{
     width: 77%;
}

.apelido-form{
     margin-top: 6px;
}

.modal{
     display: none;
}

.notificacao{
     display: none;
     margin: 0 auto;
     margin-top: 10px;
     font-size: 1.1em;
}

#sucesso_planilha{
     width: 350px;
}

#sucesso_planilha a{
     text-decoration: underline;
}

#formato_invalido{
     width: 450px;
}

/*Titulo da lista de compras*/
.header{
     width: 100%;	  
     background-color: #f3f3f3;
     height: 70px;
     border-bottom: solid 1px #cccccc;
}

.header > h1{
     margin: 0;	  
     width: 100%;
     padding-top: 17px;
     font-size: 1.8em;
}

.header > h1 img{
     width: 50px;
     height: 50px;
     margin-right: 20px;
     margin-left: 2.9%;
     margin-top: -10px;
}

header > h1 img:hover{
     cursor: pointer;
}


/*Mobiles de até 480px de resolução de largura - praticamente todos em*/
@media only screen and (max-width: 480px) {     

}

/*Mobiles em landscape   iphone 5/5s tem 640px, iphone 6  tem 750px*/
@media only screen and (min-width: 481px) and (max-width: 767px) {   

}

/*Tablets em retrato tem entre 768px e 800px*/
@media only screen and (min-width: 768px) and (max-width: 979px) {


}

/*Iphone 6 plus tem 1080*/
@media only screen and (min-width: 980px) and (max-width: 1023px) {

}

/*Monitores*/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

}

/*Monitores 2*/
@media only screen and (min-width: 1280px) and (max-width: 1919px) {
}

/*Televisões ou monitores full HD com 22"*/
@media only screen and (min-width: 1920px){
     header > #formPesquisa{	  
	  margin-left: 15%;	  
     }    

     header > section#settings{	  
	  margin-left: 6%;	  
     }

     header > section#usuarioLogado{	  
	  margin-left: 3%;
     }

}