*{
     margin: 0;
     padding: 0;
     font-family: 'Lato', sans-serif;
     color: #000;
}


/*Mobiles de até 480px de resolução de largura - praticamente todos em*/
@media only screen and (max-width: 480px) {
     /*Logo gigante na versão mobile some*/
     #logo{
	  display: none;
     }

     /*Menu desktop some*/
     ul.menu-desktop{
	  display: none;
     }

     /*Rosa AKIMIA #e31b63; rgba(227, 27, 110, 1)*/
     .container{
	  width: 100%;
     }
     
     /*Imagem Akimia*/
     a.navbar-brand > img{
	  width: 40px;
	  height: 40px;
	  margin-top: -10px;
     }

     /*O menu top*/
     .navbar-inverse{
	  background-image: none;
	  background-color: rgba(64,124, 189, 0.1);/*#407cbd rgba(64,124, 189, 1)*/
	  border: none;
	  margin-bottom: 0;
     }

     /*O hamburger button*/
     .navbar-inverse .navbar-toggle {
	  border-color: #e31b63;
	  background-color: #e31b63;
     }

     /*Mouse hover no hamburger button*/
     .navbar-inverse .navbar-toggle:hover{
	  background-color: #e31b63;
     }

     /*Aa risquinhas do hamburger button*/
     .navbar-inverse .navbar-toggle .icon-bar{
	  background-color: #FFF;
     }

     /*Lista de menu*/
     .navbar-inverse .navbar-collapse{
	  border-color: #e31b63;
	  margin: 0 -15px 0 -25px;
	  padding: 0;
     }

     /*a lista de menu tambem rs*/
     .navbar-nav{
	  background-color: #e31b63;
	  margin: 0;
     }

     /*Menu ativo*/
     .navbar-inverse .navbar-nav > .active > a{
	  background-image: none;
	  box-shadow: none;
	  text-shadow: none;
	  background-color: #FFF;
	  color: #e31b63;
     }

     /*Mouse hover no menu ativo*/
     .navbar-inverse .navbar-nav > .active > a:hover{
	  color: #e31b63;
	  background-color: #FFF;
     }

     /*Qualquer menu*/
     .navbar-inverse .navbar-nav > li > a{
	  text-shadow: none;
	  color: #FFF;
     }

     /*Por padrão vem tudo ocultado e somente o cadastro aparecendo*/
     #como-encomendar,
     #a-akimia,
     #fale-conosco{
	  display: none;
     }


     /*Central*/
     .central{
	  width: 100%;
	  padding: 0 10px;
	  margin-bottom: 25px;
     }

     /*Titulos*/
     .central > h1{
	  font-size: 1.75em;
	  text-align: center;
	  margin: 10px 0;
     }

     .central > h4{
	  text-align: center;
	  font-size: 1em;
     }


     span.campos-obrigatorios{
	  color: red;
	  font-weight: bold;
	  font-size: 1.25em;
     }

     #formCadastro{
	  margin: 0 auto;

     }

     #formCadastro select{
	  max-width: 90%;
	  margin: 0 auto;
     }

     
     #como-encomendar > #conteudo-como-encomendar{
	  width: 80%;
	  margin: 0 auto;
     }
     
     #como-encomendar > #conteudo-como-encomendar h3{
	  text-align: center;
     }
     
     #a-akimia > #conteudo-a-akimia p{
	  text-align: justify;
	  text-indent: 25px;
	  margin: 0;
     }

     #a-akimia > #conteudo-a-akimia h2{
	  font-size: 1.50em;
     }

     /*Lista de contatos - Fale conosco*/
     #fale-conosco > #conteudo-fale-conosco{
	  /*border: solid 1px red;*/
     }

     #fale-conosco > #conteudo-fale-conosco h4{
	  text-align: center;
     }

     #nav-contats{
	  width: 100%;
	  font-size: 1.0em;
	  list-style: none;
     }

     #nav-contats > li > a{
	  display: block;
	  margin: 10px 0;
	  color: #000;
     }

     #nav-contats > li > a > img{
	  width: 50px;
	  height: 50px;
	  margin: 0 5% 0 5%;
     }

     #formContato{
	  margin: 0 auto;
	  margin-top: 20px;
     }

     .btn-default{
	  background-image: none;
	  border-color: #e31b63;
	  background-color: #e31b63;
	  color: #FFF;
     }

     .btn-default:hover{
	  background-image: none;
	  border-color: rgba(227, 27, 110, 1);
	  background-color: rgba(227, 27, 110, 0.9);
	  color: #FFF;  
     }

     .alert{
	  padding: 10px 15px;
	  margin-bottom: 10px;
     }

     .destaqueCampo{
	  border: solid 1px red;
     }

     footer{
	  background-color: #e31b63;
	  text-align: center;
	  padding: 20px 0;
     }

     footer > #copyright,
     footer > #dev{
	  font-size: 0.90em;
	  color: #FFF;
     }

     footer > #dev > a{
	  color: #FFF;
     }

}

/*Mobiles em landscape   iphone 5/5s tem 640px, iphone 6  tem 750px*/
@media only screen and (min-width: 481px) and (max-width: 767px) {   
     /*Logo gigante na versão mobile some*/
     #logo{
	  display: none;
     }

     /*Menu desktop some*/
     ul.menu-desktop{
	  display: none;
     }

     /*Rosa AKIMIA #e31b63; rgba(227, 27, 110, 1)*/

     /*Rosa AKIMIA #e31b63; rgba(227, 27, 110, 1)*/
     .container{
	  width: 100%;
     }
     
     /*Imagem Akimia*/
     a.navbar-brand > img{
	  width: 40px;
	  height: 40px;
	  margin-top: -10px;
     }

     /*O menu top*/
     .navbar-inverse{
	  background-image: none;
	  background-color: rgba(64,124, 189, 0.1);/*#407cbd rgba(64,124, 189, 1)*/
	  border: none;
	  margin-bottom: 0;
     }

     /*O hamburger button*/
     .navbar-inverse .navbar-toggle {
	  border-color: #e31b63;
	  background-color: #e31b63;
     }

     /*Mouse hover no hamburger button*/
     .navbar-inverse .navbar-toggle:hover{
	  background-color: #e31b63;
     }

     /*Aa risquinhas do hamburger button*/
     .navbar-inverse .navbar-toggle .icon-bar{
	  background-color: #FFF;
     }

     /*Lista de menu*/
     .navbar-inverse .navbar-collapse{
	  border-color: #e31b63;
	  margin: 0 -15px 0 -25px;
	  padding: 0;
     }

     /*a lista de menu tambem rs*/
     .navbar-nav{
	  background-color: #e31b63;
	  margin: 0;
     }

     /*Menu ativo*/
     .navbar-inverse .navbar-nav > .active > a{
	  background-image: none;
	  box-shadow: none;
	  text-shadow: none;
	  background-color: #FFF;
	  color: #e31b63;
     }

     /*Mouse hover no menu ativo*/
     .navbar-inverse .navbar-nav > .active > a:hover{
	  color: #e31b63;
	  background-color: #FFF;
     }

     /*Qualquer menu*/
     .navbar-inverse .navbar-nav > li > a{
	  text-shadow: none;
	  color: #FFF;
     }

     /*Por padrão vem tudo ocultado e somente o cadastro aparecendo*/
     #como-encomendar,
     #a-akimia,
     #fale-conosco{
	  display: none;
     }


     /*Central*/
     .central{
	  width: 100%;
	  padding: 0 20px;
	  margin-bottom: 25px;
     }

     /*Titulos*/
     .central > h1{
	  font-size: 1.75em;
	  text-align: center;
	  margin: 20px 0;
     }

     .central > h4{
	  text-align: center;
	  font-size: 1em;
     }


     span.campos-obrigatorios{
	  color: red;
	  font-weight: bold;
	  font-size: 1.25em;
     }


     #formCadastro{
	  margin: 0 auto;
	  max-width: 80%;
     }

     #formCadastro select{
	  max-width: 94%;
	  margin: 0 auto;
     }

     #como-encomendar > #conteudo-como-encomendar{
	  width: 80%;
	  margin: 0 auto;
     }    
     
     #como-encomendar > #conteudo-como-encomendar h3{
	  text-align: center;
     }
     
     #a-akimia > #conteudo-a-akimia p{
	  text-align: justify;
	  text-indent: 25px;
	  margin: 0;
     }

     /*Lista de contatos - Fale conosco*/
     #fale-conosco > #conteudo-fale-conosco{

     }

     #nav-contats{
	  width: 100%;
	  font-size: 1.0em;
	  list-style: none;
     }

     #nav-contats > li > a{
	  display: block;
	  margin: 10px 0;
	  color: #000;
     }

     #nav-contats > li > a > img{
	  width: 50px;
	  height: 50px;
	  margin: 0 9% 0 20%;
     }

     #formContato{
	  margin: 0 auto;
	  margin-top: 20px;
	  max-width: 80%;
     }

     #fale-conosco > #conteudo-fale-conosco h4{
	  text-align: center;
     }

     .btn-default{
	  background-image: none;
	  border-color: #e31b63;
	  background-color: #e31b63;
	  color: #FFF;
     }

     .btn-default:hover{
	  background-image: none;
	  border-color: rgba(227, 27, 110, 1);
	  background-color: rgba(227, 27, 110, 0.9);
	  color: #FFF;  
     }

     .alert{
	  margin: 0 auto;
	  padding: 10px 15px;
	  margin-bottom: 10px;
	  width: 80%;
     }

     .destaqueCampo{
	  border: solid 1px red;
     }

     footer{
	  background-color: #e31b63;
	  text-align: center;
	  padding: 20px 0;
     }

     footer > #copyright,
     footer > #dev{
	  font-size: 0.90em;
	  color: #FFF;
     }

     footer > #dev > a{
	  color: #FFF;
     }

}

/*Tablets tem entre 768px e 800px*/
@media only screen and (min-width: 768px) and (max-width: 979px) {
     /*Logo gigante na versão mobile some*/
     #logo{
	  display: none;
     }

     /*Menu desktop some*/
     ul.menu-desktop{
	  display: none;
     }

     /*Imagem Akimia*/
     a.navbar-brand > img{
	  width: 50px;
	  height: 50px;
	  margin-top: -10px;
     }

     /*O menu top*/
     .navbar-inverse{
	  background-image: none;
	  background-color: rgba(64,124, 189, 0.1);/*#407cbd rgba(64,124, 189, 1)*/	  
	  border: none;
	  margin-bottom: 0;
     }

     /*a lista de menu tambem rs*/
     .navbar-nav{
	  margin-left: 12%;
	  padding: 10px;
     }

     /*Menu ativo*/
     .navbar-inverse .navbar-nav > .active > a{
	  background-image: none;
	  box-shadow: none;
	  text-shadow: none;
	  background-color: #e31b63;
	  color: #FFF;
     }

     /*Mouse hover no menu ativo*/
     .navbar-inverse .navbar-nav > .active > a:hover{
	  color: #FFF;
	  background-color: #e31b63;
     }

     /*Qualquer menu*/
     .navbar-inverse .navbar-nav > li > a{
	  text-shadow: none;
	  color: #e31b63;
	  padding: 10px 15px;
	  border-radius: 10px;
	  margin: 0 5px;
     }

     .navbar-inverse .navbar-nav > li > a:hover{
	  background-color: #e31b63;
     }

     /*Por padrão vem tudo ocultado e somente o cadastro aparecendo*/
     #como-encomendar,
     #a-akimia,
     #fale-conosco{
	  display: none;
     }

     /*Central*/
     .central{
	  width: 100%;
	  margin: 0 auto;
	  margin-bottom: 20px;
     }

     /*Titulos*/
     .central > h1{
	  font-size: 1.75em;
	  text-align: center;
	  margin: 20px 0 10px 0;
     }

     .central > h4{
	  text-align: center;
	  font-size: 1em;
	  margin-bottom: 30px;
     }

     span.campos-obrigatorios{
	  color: red;
	  font-weight: bold;
	  font-size: 1.25em;
     }

     #formCadastro{
	  margin: 0 auto;
	  width: 60%;
     }

     /*Tamanho do label*/
     .col-sm-2{
	  width: 29%;
     }
     /*Tamanho do label2*/
     .control-label{
	  text-align: right;
     }

     /*Tamanho da texbox*/
     .col-sm-10{
	  width: 71%;
     }

     #formCadastro select{
	  max-width: 90%;
	  margin: 0 auto;
     }

     #formCadastro button{
	  margin-left: 90.3%;
     }
     
     /*Ajuste de layout porque mudamos o texto para "Como gosta de ser chamado"*/
     #apelidoCadastro{
	  margin-top: 8px;
     }

     #como-encomendar{
	  margin: 20px 0 0 0;
     }

     #como-encomendar > #conteudo-como-encomendar{
	  width: 80%;
	  margin: 0 auto;
     }
     
     #como-encomendar > #conteudo-como-encomendar h3{
	  text-align: center;
	  margin-bottom: 20px;
     }
     
     #a-akimia > #conteudo-a-akimia p{
	  text-align: justify;
	  text-indent: 25px;
	  margin: 0;
     }

     #como-encomendar > #conteudo-como-encomendar{
	  width: 60%;
	  margin: 0 auto;
	  margin-bottom: 20%;
	  margin-top: 20px;
     }

     #a-akimia > #conteudo-a-akimia{
	  width: 60%;
	  margin: 0 auto;
     }

     #a-akimia > #conteudo-a-akimia h2{
	  font-size: 1.50em;
     }

     /*Lista de contatos - Fale conosco*/
     #fale-conosco > #conteudo-fale-conosco{

     }

     #nav-contats{
	  width: 100%;
	  font-size: 1.0em;
	  list-style: none;
     }

     #nav-contats > li > a{
	  display: block;
	  margin: 20px 0;
	  color: #000;
     }

     #nav-contats > li > a > img{
	  width: 50px;
	  height: 50px;
	  margin: 0 5% 0 32%;
     }

     #formContato{
	  margin-top: 20px;
	  margin-left: 28%;
	  width: 40%;
     }

     #fale-conosco > #conteudo-fale-conosco h4{
	  text-align: center;
     }

     #formContato button{
	  margin-left: 93%;
     }

     .btn-default{
	  background-image: none;
	  border-color: #e31b63;
	  background-color: #e31b63;
	  color: #FFF;
     }

     .btn-default:hover{
	  background-image: none;
	  border-color: rgba(227, 27, 110, 1);
	  background-color: rgba(227, 27, 110, 0.9);
	  color: #FFF;  
     }

     .alert{
	  padding: 10px 15px;
	  margin-bottom: 10px;
	  width: 38%;
	  margin-left: 31%;
     }

     .destaqueCampo{
	  border: solid 1px red;
     }

     footer{
	  background-color: #e31b63;
	  text-align: center;
	  padding: 20px 0;
     }

     footer > #copyright,
     footer > #dev{
	  font-size: 0.90em;
	  color: #FFF;
     }

     footer > #dev > a{
	  color: #FFF;
     }

}

/*Iphone 6 plus tem 1080*/
@media only screen and (min-width: 980px) and (max-width: 1023px) {
     /*Logo gigante na versão mobile some*/
     #logo{
	  display: none;
     }

     /*Menu desktop some*/
     ul.menu-desktop{
	  display: none;
     }

     /*Imagem Akimia*/
     a.navbar-brand > img{
	  width: 50px;
	  height: 50px;
	  margin-top: -10px;
     }

     /*O menu top*/
     .navbar-inverse{
	  background-image: none;
	  background-color: rgba(64,124, 189, 0.1);/*#407cbd rgba(64,124, 189, 1)*/	  
	  border: none;
	  margin-bottom: 0;
	  border-radius: 0;
     }

     /*a lista de menu tambem rs*/
     .navbar-nav{
	  margin-left: 19%;
	  padding: 10px;
     }

     /*Menu ativo*/
     .navbar-inverse .navbar-nav > .active > a{
	  background-image: none;
	  box-shadow: none;
	  text-shadow: none;
	  background-color: #e31b63;
	  color: #FFF;
     }

     /*Mouse hover no menu ativo*/
     .navbar-inverse .navbar-nav > .active > a:hover{
	  color: #FFF;
	  background-color: #e31b63;
     }

     /*Qualquer menu*/
     .navbar-inverse .navbar-nav > li > a{
	  text-shadow: none;
	  color: #e31b63;
	  padding: 10px 15px;
	  border-radius: 10px;
	  margin: 0 5px;
     }

     .navbar-inverse .navbar-nav > li > a:hover{
	  background-color: #e31b63;
     }

     /*Por padrão vem tudo ocultado e somente o cadastro aparecendo*/
     #como-encomendar,
     #a-akimia,
     #fale-conosco{
	  display: none;
     }

     /*Central*/
     .central{
	  width: 100%;
	  margin: 0 auto;
	  margin-bottom: 20px;
     }

     /*Titulos*/
     .central > h1{
	  font-size: 1.75em;
	  text-align: center;
	  margin: 20px 0 10px 0;
     }

     .central > h4{
	  text-align: center;
	  font-size: 1em;
	  margin-bottom: 30px;
     }

     span.campos-obrigatorios{
	  color: red;
	  font-weight: bold;
	  font-size: 1.25em;
     }

     #formCadastro{
	  margin: 0 auto;
	  width: 45%;
     }
     

     /*Tamanho do label*/
     .col-sm-2{
	  width: 29%;
     }
     /*Tamanho do label2*/
     .control-label{
	  text-align: right;
     }

     /*Tamanho da texbox*/
     .col-sm-10{
	  width: 71%;
     }

     #formCadastro select{
	  max-width: 90%;
	  margin: 0 auto;
     }

     #formCadastro button{
	  margin-left: 90.3%;
     }
     
     /*Ajuste de layout porque mudamos o texto para "Como gosta de ser chamado"*/
     #apelidoCadastro{
	  margin-top: 8px;
     }

     #como-encomendar{
	  margin: 20px 0 0 0;
     }

     #como-encomendar > #conteudo-como-encomendar p,
     #a-akimia > #conteudo-a-akimia p{
	  text-align: justify;
	  text-indent: 25px;
     }

     #como-encomendar > #conteudo-como-encomendar{
	  width: 60%;
	  margin: 0 auto;
	  margin-bottom: 20%;
	  margin-top: 20px;
     }

     #a-akimia > #conteudo-a-akimia{
	  width: 60%;
	  margin: 0 auto;
     }

     #a-akimia > #conteudo-a-akimia h2{
	  font-size: 1.50em;
     }

     /*Lista de contatos - Fale conosco*/
     #fale-conosco > #conteudo-fale-conosco{

     }

     #nav-contats{
	  width: 100%;
	  font-size: 1.0em;
	  list-style: none;
     }

     #nav-contats > li > a{
	  display: block;
	  margin: 20px 0;
	  color: #000;
     }

     #nav-contats > li > a > img{
	  width: 50px;
	  height: 50px;
	  margin: 0 5% 0 32%;
     }

     #formContato{
	  margin-top: 20px;
	  margin-left: 28%;
	  width: 40%;
     }

     #fale-conosco > #conteudo-fale-conosco h4{
	  text-align: center;
     }

     #formContato button{
	  margin-left: 93%;
     }

     .btn-default{
	  background-image: none;
	  border-color: #e31b63;
	  background-color: #e31b63;
	  color: #FFF;
     }

     .btn-default:hover{
	  background-image: none;
	  border-color: rgba(227, 27, 110, 1);
	  background-color: rgba(227, 27, 110, 0.9);
	  color: #FFF;  
     }

     .alert{
	  padding: 10px 15px;
	  margin-bottom: 10px;
	  width: 38%;
	  margin-left: 31%;
     }

     .destaqueCampo{
	  border: solid 1px red;
     }

     footer{
	  background-color: #e31b63;
	  text-align: center;
	  padding: 20px 0;
     }

     footer > #copyright,
     footer > #dev{
	  font-size: 0.90em;
	  color: #FFF;
     }

     footer > #dev > a{
	  color: #FFF;
     }
}

/*Monitores*/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
     body{
	  width: 100%;
	  background-image: url('../img/background-akimia.jpg');
	  background-size: 100%;
	  background-repeat: no-repeat;
	  background-position: center top;
     }

     section#logo > a > img{
	  width: 35%;
	  position: fixed;     
	  top: 13%;
	  left: 9%;
     }

     /*Some com o menu boostrap*/
     .navbar-inverse{
	  display: none;
     }

     #principal{
	  /*background-color: #FFF;*/
	  background-color: rgba(255, 255, 255, 0.5);
	  border-radius: 20px;
	  width: 436px;
	  position: fixed;     
	  top: 13%;
	  left: 50%;
	  /*overflow: auto;*/
	  max-height: 450px;
     }

     /*Menu desktop*/
     ul.menu-desktop{
	  width: 100%;
	  list-style: none;
	  padding: 10px 0 10px 2%;
     }

     ul.menu-desktop > li{
	  display: inline-block;
     }

     ul.menu-desktop > li.active > a{
	  background-color: #e31b63;
	  color: #fff;
     }

     /*Qualquer menu*/
     ul.menu-desktop > li > a{
	  display: block;
	  padding: 10px 29px;
	  margin-right: 3px;
	  background-color: #FFF;
	  border-radius: 10px;
	  color: #e31b63;
     }

     /*Qualquer menu mouse hover*/
     ul.menu-desktop > li > a:hover{
	  text-decoration: none;
	  background-color: #e31b63;
	  color: #FFF;
     }


     /*Por padrão vem tudo ocultado e somente o cadastro aparecendo*/
     #como-encomendar,
     #a-akimia,
     #fale-conosco{
	  display: none;
     }

     /*Central*/          
     .central{
	  width: 100%;
	  margin-bottom: 25px;
	  overflow: auto;
	  max-height: 380px;
     }

     /*Titulos*/
     .central > h1{
	  font-size: 1.75em;
	  text-align: center;
	  margin: -5px 0 10px 0;
     }

     .central > h4{
	  text-align: center;
	  font-size: 1em;
     }


     span.campos-obrigatorios{
	  color: red;
	  font-weight: bold;
	  font-size: 1.25em;
     }

     #formCadastro{
	  margin: 0 auto;
	  margin-top: 20px;
	  width: 82%;
     }

     /*Tamanho do label*/
     #formCadastro .col-sm-2{
	  width: 37.5%;
	  margin-top: -2px;
     }
     /*Tamanho do label2*/
     #formCadastro.control-label{
	  text-align: right;
     }

     /*Tamanho da texbox*/
     #formCadastro .col-sm-10{
	  width: 62%;
     }

     #formCadastro button{
	  margin-left: 94%;
     }

     /*Ajuste de layout porque mudamos o texto para "Como gosta de ser chamado"*/
     #apelidoCadastro{
	  margin-top: 8px;
     }

     #como-encomendar > #conteudo-como-encomendar{
	  width: 80%;
	  margin: 0 auto;
	  text-align: justify;
     }
     
     
     #como-encomendar > #conteudo-como-encomendar h3{
	  text-align: center;
	  margin-bottom: 20px;
     }

     #a-akimia > #conteudo-a-akimia{
	  width: 80%;
	  margin: 0 auto;
     }

     #a-akimia > #conteudo-a-akimia p{
	  text-align: justify;
	  text-indent: 25px;
	  margin: 0;
     }

     #a-akimia > #conteudo-a-akimia h2{
	  font-size: 1.50em;
     }

     /*Lista de contatos - Fale conosco*/
     #fale-conosco > #conteudo-fale-conosco{
	  /*border: solid 1px red;*/
     }

     #fale-conosco > #conteudo-fale-conosco h4{
	  text-align: center;
	  font-size: 1.1em;
     }

     #nav-contats{
	  width: 100%;
	  font-size: 1.0em;
	  list-style: none;
	  margin-top: 25px;
     }

     #nav-contats > li > a{
	  display: block;
	  margin: 10px 0;
	  color: #000;
     }

     #nav-contats > li > a > img{
	  width: 50px;
	  height: 50px;
	  margin: 0px 5% 0 21%;
     }

     #formContato{
	  margin: 0 auto;
	  margin-top: 20px;
	  width: 90%;
     }


     /*Tamanho do label*/
     #formContato .col-sm-2{
	  width: 22%;
	  margin-top: -2px;
     }
     /*Tamanho do label2*/
     #formContato .control-label{
	  text-align: right;
     }

     /*Tamanho da texbox*/
     #formContato .col-sm-10{
	  width: 78%;
     }

     #formContato button{
	  margin-left: 85%;
     }



     .btn-default{
	  background-image: none;
	  border-color: #e31b63;
	  background-color: #e31b63;
	  color: #FFF;
     }

     .btn-default:hover{
	  background-image: none;
	  border-color: rgba(227, 27, 110, 1);
	  background-color: rgba(227, 27, 110, 0.9);
	  color: #FFF;  
     }

     .alert{
	  padding: 10px 15px;
	  margin-bottom: 10px;
	  margin-left: 50px;
	  width: 80%;
     }

     .destaqueCampo{
	  border: solid 1px red;
     }

     /*Rodapé fixo no desktop*/
     footer{
	  background-color: #e31b63;
	  text-align: center;
	  padding: 20px 0;
	  position: fixed;
	  bottom: 0;
	  width: 100%;
     }

     footer > #copyright,
     footer > #dev{
	  font-size: 0.90em;
	  color: #FFF;
     }

     footer > #dev > a{
	  color: #FFF;
     }          

}

/*Monitores 2*/
@media only screen and (min-width: 1280px) and (max-width: 1919px) {
     body{
	  width: 100%;
	  background-image: url('../img/background-akimia.jpg');
	  background-size: 100%;
	  background-repeat: no-repeat;
	  background-position: center top;
     }

     section#logo > a > img{
	  width: 35%;
	  position: fixed;     
	  top: 8%;
	  left: 10%;
     }

     /*Some com o menu boostrap*/
     .navbar-inverse{
	  display: none;
     }

     #principal{
	  /*background-color: #FFF;*/
	  background-color: rgba(255, 255, 255, 0.5);
	  border-radius: 20px;
	  width: 436px;
	  position: fixed;     
	  top: 13%;
	  left: 52%;
	  /*overflow: auto;*/
	  max-height: 450px;
     }

     /*Menu desktop*/
     ul.menu-desktop{
	  width: 100%;
	  list-style: none;
	  padding: 10px 0 10px 2%;
     }

     ul.menu-desktop > li{
	  display: inline-block;
     }

     ul.menu-desktop > li.active > a{
	  background-color: #e31b63;
	  color: #fff;
     }

     /*Qualquer menu*/
     ul.menu-desktop > li > a{
	  display: block;
	  padding: 10px 29px;
	  margin-right: 3px;
	  background-color: #FFF;
	  border-radius: 10px;
	  color: #e31b63;
     }

     /*Qualquer menu mouse hover*/
     ul.menu-desktop > li > a:hover{
	  text-decoration: none;
	  background-color: #e31b63;
	  color: #FFF;
     }


     /*Por padrão vem tudo ocultado e somente o cadastro aparecendo*/
     #como-encomendar,
     #a-akimia,
     #fale-conosco{
	  display: none;
     }

     /*Central*/
     .central{
	  width: 100%;
	  margin-bottom: 25px;
	  overflow: auto;
	  max-height: 370px;
     }

     /*Titulos*/
     .central > h1{
	  font-size: 1.75em;
	  text-align: center;
	  margin: -5px 0 10px 0;
     }

     .central > h4{
	  text-align: center;
	  font-size: 1em;
     }


     span.campos-obrigatorios{
	  color: red;
	  font-weight: bold;
	  font-size: 1.25em;
     }

     #formCadastro{
	  margin: 0 auto;
	  margin-top: 20px;
	  width: 82%;
     }

     /*Tamanho do label*/
     #formCadastro .col-sm-2{
	  width: 37.5%;
	  margin-top: -2px;
	  /*width: 47%;*/
	  /*border: solid 1px red;*/
	  /*padding: 8px 0 0 0;*/
     }
     /*Tamanho do label2*/
     #formCadastro.control-label{
	  text-align: right;
     }

     /*Tamanho da texbox*/
     #formCadastro .col-sm-10{
	  width: 62%;
	  /*width: 53%;*/
     }
     
     /*Ajuste de layout porque mudamos o texto para "Como gosta de ser chamado"*/
     #apelidoCadastro{
	  margin-top: 8px;
     }

     #formCadastro button{
	  margin-left: 94%;
     }


     #como-encomendar > #conteudo-como-encomendar{
	  width: 80%;
	  margin: 0 auto;
	  text-align: justify;
     }
     
     
     #como-encomendar > #conteudo-como-encomendar h3{
	  text-align: center;
	  margin-bottom: 20px;
     }

     #a-akimia > #conteudo-a-akimia{
	  width: 85%;
	  margin: 0 auto;
     }

     #a-akimia > #conteudo-a-akimia p{
	  text-align: justify;
	  text-indent: 25px;
	  margin: 0;
     }

     #a-akimia > #conteudo-a-akimia h2{
	  font-size: 1.50em;
     }

     /*Lista de contatos - Fale conosco*/
     #fale-conosco > #conteudo-fale-conosco{
	  /*border: solid 1px red;*/
     }

     #fale-conosco > #conteudo-fale-conosco h4{
	  text-align: center;
	  font-size: 1.1em;
     }

     #nav-contats{
	  width: 100%;
	  font-size: 1.0em;
	  list-style: none;
	  margin-top: 25px;
     }

     #nav-contats > li > a{
	  display: block;
	  margin: 10px 0;
	  color: #000;
     }

     #nav-contats > li > a > img{
	  width: 50px;
	  height: 50px;
	  margin: 0px 5% 0 21%;
     }

     #formContato{
	  margin: 0 auto;
	  margin-top: 20px;
	  width: 90%;
     }


     /*Tamanho do label*/
     #formContato .col-sm-2{
	  width: 22%;
	  margin-top: -2px;
     }
     /*Tamanho do label2*/
     #formContato .control-label{
	  text-align: right;
     }

     /*Tamanho da texbox*/
     #formContato .col-sm-10{
	  width: 78%;
     }

     #formContato button{
	  margin-left: 85%;
     }



     .btn-default{
	  background-image: none;
	  border-color: #e31b63;
	  background-color: #e31b63;
	  color: #FFF;
     }

     .btn-default:hover{
	  background-image: none;
	  border-color: rgba(227, 27, 110, 1);
	  background-color: rgba(227, 27, 110, 0.9);
	  color: #FFF;  
     }

     .alert{
	  padding: 10px 15px;
	  margin-bottom: 10px;
	  margin-left: 50px;
	  width: 80%;
     }

     .destaqueCampo{
	  border: solid 1px red;
     }

     /*Rodapé fixo no desktop*/
     footer{
	  background-color: #e31b63;
	  /*background-color: rgba(255, 255, 255, 0.5);*/
	  color: #000;
	  text-align: center;
	  padding: 20px 0;
	  position: fixed;
	  bottom: 0;
	  width: 100%;
	  
     }

     footer > #copyright,
     footer > #dev{
	  font-size: 0.90em;
	  color: #FFF;
	  /*color: #000;*/
     }

     footer > #dev > a{
	  color: #FFF;
	  /*color: #000;*/
     }
     
     /*Redes sociais*/
     #social{
	  /*border: solid 1px red;*/
	  margin-top: 0;
	  margin-left: 3px;
     }
     
     #social ul li{
	  display: inline-block;
     }
         
     #notifica_facebook,
     #notifica_instagram,
     #notifica_email,
     #notifica_whatsapp{
	  display: none;
     }
               
     #social img{
	  width: 45px;
	  height: 45px;
	  margin: 0 3px 0 0;
     }
     
     #social a{
	  color: #FFF;
     }
}

/*Televisões ou monitores full HD com 22"*/
@media only screen and (min-width: 1920px){
     body{
	  width: 100%;
	  background-image: url('../img/background-akimia.jpg');
	  background-size: 100%;
	  background-repeat: no-repeat;
	  background-position: center top;
     }

     section#logo > a > img{
	  width: 35%;
	  position: fixed;     
	  top: 12%;
	  left: 10%;
     }

     /*Some com o menu boostrap*/
     .navbar-inverse{
	  display: none;
     }

     #principal{
	  /*background-color: #FFF;*/
	  background-color: rgba(255, 255, 255, 0.5);
	  border-radius: 20px;
	  width: 600px;
	  position: fixed;     
	  top: 18%;
	  left: 55%;
	  /*overflow: auto;*/
	  max-height: 620px;
     }

     /*Menu desktop*/
     ul.menu-desktop{
	  width: 100%;
	  list-style: none;
	  padding: 10px 0 10px 1%;
     }

     ul.menu-desktop > li{
	  display: inline-block;
     }

     ul.menu-desktop > li.active > a{
	  background-color: #e31b63;
	  color: #fff;
     }

     /*Qualquer menu*/
     ul.menu-desktop > li > a{
	  display: block;
	  padding: 12px 39px;
	  margin-right: 5px;
	  background-color: #FFF;
	  border-radius: 10px;
	  color: #e31b63;
	  margin: 0 20px;
     }

     /*Qualquer menu mouse hover*/
     ul.menu-desktop > li > a:hover{
	  text-decoration: none;
	  background-color: #e31b63;
	  color: #FFF;
     }


     /*Por padrão vem tudo ocultado e somente o cadastro aparecendo*/
     #como-encomendar,
     #a-akimia,
     #fale-conosco{
	  display: none;
     }

     /*Central*/
     .central{
	  width: 100%;
	  margin-bottom: 25px;
	  overflow: auto;
	  max-height: 520px;
     }

     /*Titulos*/
     .central > h1{
	  font-size: 1.75em;
	  text-align: center;
	  margin: -5px 0 10px 0;
     }

     .central > h4{
	  text-align: center;
	  font-size: 1em;
     }


     span.campos-obrigatorios{
	  color: red;
	  font-weight: bold;
	  font-size: 1.25em;
     }

     #formCadastro{
	  margin: 0 auto;
	  margin-top: 20px;
	  width: 80%;
     }

     /*Tamanho do label*/
     #formCadastro .col-sm-2{
	  width: 30%;
	  margin-top: -2px;
     }
     /*Tamanho do label2*/
     #formCadastro.control-label{
	  text-align: right;
     }

     /*Tamanho da texbox*/
     #formCadastro .col-sm-10{
	  width: 62%;
     }

     #formCadastro button{
	  margin-left: 94%;
     }
     
     /*Ajuste de layout porque mudamos o texto para "Como gosta de ser chamado"*/
     #apelidoCadastro{
	  margin-top: 8px;
     }


     #como-encomendar > #conteudo-como-encomendar{
	  width: 80%;
	  margin: 0 auto;
	  text-align: justify;
     }
     
     
     #como-encomendar > #conteudo-como-encomendar h3{
	  text-align: center;
	  margin-bottom: 20px;
     }

     #a-akimia > #conteudo-a-akimia{
	  width: 85%;
	  margin: 0 auto;
     }

     #a-akimia > #conteudo-a-akimia p{
	  text-align: justify;
	  text-indent: 25px;
	  margin: 0;
     }
     
     #a-akimia > #conteudo-a-akimia h2{
	  font-size: 1.50em;
     }

     /*Lista de contatos - Fale conosco*/
     #fale-conosco > #conteudo-fale-conosco{
	  /*border: solid 1px red;*/
     }

     #fale-conosco > #conteudo-fale-conosco h4{
	  text-align: center;
	  font-size: 1.1em;
     }

     #nav-contats{
	  width: 100%;
	  font-size: 1.0em;
	  list-style: none;
	  margin-top: 25px;
     }

     #nav-contats > li > a{
	  display: block;
	  margin: 10px 0;
	  color: #000;
     }

     #nav-contats > li > a > img{
	  width: 50px;
	  height: 50px;
	  margin: 0px 5% 0 28%;
     }

     #formContato{
	  margin: 0 auto;
	  margin-top: 20px;
	  width: 70%;
     }


     /*Tamanho do label*/
     #formContato .col-sm-2{
	  width: 17%;
	  margin-top: -2px;
     }
     /*Tamanho do label2*/
     #formContato .control-label{
	  text-align: right;
     }

     /*Tamanho da texbox*/
     #formContato .col-sm-10{
	  width: 74%;
     }

     #formContato button{
	  margin-left: 79%;
     }



     .btn-default{
	  background-image: none;
	  border-color: #e31b63;
	  background-color: #e31b63;
	  color: #FFF;
     }

     .btn-default:hover{
	  background-image: none;
	  border-color: rgba(227, 27, 110, 1);
	  background-color: rgba(227, 27, 110, 0.9);
	  color: #FFF;  
     }

     .alert{
	  padding: 10px 15px;
	  margin-bottom: 10px;
	  margin-left: 50px;
	  width: 80%;
     }

     .destaqueCampo{
	  border: solid 1px red;
     }

     /*Rodapé fixo no desktop*/
     footer{
	  background-color: #e31b63;
	  text-align: center;
	  padding: 20px 0;
	  position: fixed;
	  bottom: 0;
	  width: 100%;
     }

     footer > #copyright,
     footer > #dev{
	  font-size: 0.90em;
	  color: #FFF;
     }

     footer > #dev > a{
	  color: #FFF;
     }
}