body{
     background-color: red;
}

#menu-mobile{
     background-color: rgba(0, 0, 0, 0.9);
     width: 0;
     height: 100%;
     position: fixed;     
}

#abrir{
     color: #FFF;     
}

#fechar{
     color: #FFF;
     display: none;     
     position: fixed;
     top: 0;
     right: 0;
}